<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Qingcheng</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <script src="../static/js/cookie.js"></script>
</head>
<body class="body_bg">
<div class="whole">
    <div >
        <div class="title">登录页面</div>
        <form id="form1" action="http://localhost:8080/tologin" method="post" class="form_box">
            <div class="input_tit">用户名</div>
            <div class="input_box">
                <input class="input_self" type="text" name="account" id="account" />
            </div>
            <div class='blank_30'></div>
            <div class="input_tit">New Password</div>
            <div class="input_box">
                <input class="input_self" type="text" name="password" id="password" />
            </div>
            <div class="finish_box">
                <input class="finish_btn" type="submit" id="finish" name="finish" value="Finish"/>
            </div>
        </form>
    </div>

</div>
</body>
<script type="text/javascript">

</script>
</html>